---
title: SparkWorld | Exploring Innovators and Innovations
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include base_head.html %}
    <link rel="stylesheet" href="/home/home.css">
</head>
<body>
    {% include nav.html %}
    <div id="main">
        <section id="hero">
            <div id="hero_text">
                <h1>Exploring Innovation and Innovators</h1>
                <p>Enjoy our collection of articles showcasing the subtle brilliance shaping the world's industries with quiet determination</p>
                <a href="" class="action_button">Explore Innovations Now</a>
            </div>
            <div id="hero_featured">
                <!-- <header id="hero_featured_header">Featured Articles</header> -->
                <div id="hero_featured_blog">
                    <!-- <div class="hero_featured_nav"><p></p></div> -->
                    <div id="hero_featured_main">
                        <div id="hero_featured_main_img"><img src="/images/Electric_car.jpeg" alt=""></div>
                        <div id="hero_featured_main_text">
                            <header>Battery Powered Car</header>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt quis sequi non itaque soluta, perspiciatis facere officiis rerum rem nisi cum magni tenetur laboriosam architecto. Ratione voluptates totam consectetur minima.</p>
                            <a href="" class="action_button">Read</a>
                        </div>
                    </div>
                    <!-- <div class="hero_featured_nav"><p></p></div> -->
                </div>
            </div>
        </section>

        <section id="page">
            {% include side_nav.html %}
            <main>
                <section id="latest" class="blog_feild">
                    <div class="blog_feild_item blog_feild_wide">
                        <div class="blog_feild_item_img"><img src="/images/tech_startup1.jpg" alt=""></div>
                        <div class="blog_feild_item_text"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sed eum aliquid iste veritatis repudiandae unde officia corrupti voluptas, suscipit officiis qui magnam quam, tempora eaque, repellendus consectetur error maiores.</p></div>
                        <a href="" class="action_button">Read</a>
                    </div>
                    <div class="blog_feild_item">
                        <div class="blog_feild_item_img"><img src="/images/tech_startup2.webp" alt=""></div>
                        <div class="blog_feild_item_text"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sed eum aliquid iste veritatis repudiandae unde officia corrupti voluptas, suscipit officiis qui magnam quam, tempora eaque, repellendus consectetur error maiores.</p></div>
                        <a href="" class="action_button">Read</a>
                    </div>
                    <!-- <div class="blog_feild_item">
                        <div class="blog_feild_item_img"><img src="/images/women_in_tech.jpg" alt=""></div>
                        <div class="blog_feild_item_text"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sed eum aliquid iste veritatis repudiandae unde officia corrupti voluptas, suscipit officiis qui magnam quam, tempora eaque, repellendus consectetur error maiores.</p></div>
                        <a href="" class="action_button">Read</a>
                    </div> -->
                </section>
                <section id="highlights">
                    <div class="highlight_item">
                        <div class="highlight_item_img">
                            <img src="/images/tech_enterprenuer.jpg" alt="">
                        </div>
                        <div class="highlight_item_text">
                            <header>Tech Entreprenuers</header>
                            <p>Take a look at Tech Entreprenuers making waves on the continent</p>
                            <a href="" class="action_button">Take a look</a>
                        </div>
                    </div>

                    <div class="highlight_item highlight_item_second">
                        <div class="highlight_item_img">
                            <img src="/images/african_scientist.jpg" alt="">
                        </div>
                        <div class="highlight_item_text">
                            <header>African Scientists</header>
                            <p>Gaze at those with the brightest of lab coats</p>
                            <a href="" class="action_button">Take a look</a>
                        </div>
                    </div>
                    <div class="highlight_item">
                        <div class="highlight_item_img">
                            <img src="/images/tech_enterprenuer.jpg" alt="">
                        </div>
                        <div class="highlight_item_text">
                            <header>Tech Entreprenuers</header>
                            <p>Take a look at Tech Entreprenuers making waves on the continent</p>
                            <a href="" class="action_button">Take a look</a>
                        </div>
                    </div>

                    <div class="highlight_item highlight_item_second">
                        <div class="highlight_item_img">
                            <img src="/images/african_scientist.jpg" alt="">
                        </div>
                        <div class="highlight_item_text">
                            <header>African Scientists</header>
                            <p>Gaze at those with the brightest of lab coats</p>
                            <a href="" class="action_button">Take a look</a>
                        </div>
                    </div>
                    <div class="highlight_item">
                        <div class="highlight_item_img">
                            <img src="/images/tech_enterprenuer.jpg" alt="">
                        </div>
                        <div class="highlight_item_text">
                            <header>Tech Entreprenuers</header>
                            <p>Take a look at Tech Entreprenuers making waves on the continent</p>
                            <a href="" class="action_button">Take a look</a>
                        </div>
                    </div>

                    <div class="highlight_item highlight_item_second">
                        <div class="highlight_item_img">
                            <img src="/images/african_scientist.jpg" alt="">
                        </div>
                        <div class="highlight_item_text">
                            <header>African Scientists</header>
                            <p>Gaze at those with the brightest of lab coats</p>
                            <a href="" class="action_button">Take a look</a>
                        </div>
                    </div>
                </section>
                <section id="videos">
                    <div id="videos_header">
                        <header>Videos</header>
                        <a href="" class="action_button">See All</a>
                    </div>
                    <div id="main_video"></div>
                    <div id="more_videos" class="bottom_scrollbar">
                        <div class="more_video_item"></div>
                        <div class="more_video_item"></div>
                        <div class="more_video_item"></div>
                        <div class="more_video_item"></div>
                        <div class="more_video_item"></div>
                        <div class="more_video_item"></div>
                        <div class="more_video_item"></div>
                        <div class="more_video_item"></div>
                    </div>
                </section>
                <section id="more_blogs" class="blog_feild">
                    <div class="blog_feild_item blog_feild_wide">
                        <div class="blog_feild_item_img"><img src="/images/tech_startup1.jpg" alt=""></div>
                        <div class="blog_feild_item_text"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sed eum aliquid iste veritatis repudiandae unde officia corrupti voluptas, suscipit officiis qui magnam quam, tempora eaque, repellendus consectetur error maiores.</p></div>
                        <a href="" class="action_button">Read</a>
                    </div>
                    <div class="blog_feild_item">
                        <div class="blog_feild_item_img"><img src="/images/tech_startup2.webp" alt=""></div>
                        <div class="blog_feild_item_text"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sed eum aliquid iste veritatis repudiandae unde officia corrupti voluptas, suscipit officiis qui magnam quam, tempora eaque, repellendus consectetur error maiores.</p></div>
                        <a href="" class="action_button">Read</a>
                    </div>
                    <div class="blog_feild_item blog_feild_wide">
                        <div class="blog_feild_item_img"><img src="/images/women_in_tech.jpg" alt=""></div>
                        <div class="blog_feild_item_text"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sed eum aliquid iste veritatis repudiandae unde officia corrupti voluptas, suscipit officiis qui magnam quam, tempora eaque, repellendus consectetur error maiores.</p></div>
                        <a href="" class="action_button">Read</a>
                    </div>
                    <div class="blog_feild_item">
                        <div class="blog_feild_item_img"><img src="/images/tech_startup2.webp" alt=""></div>
                        <div class="blog_feild_item_text"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sed eum aliquid iste veritatis repudiandae unde officia corrupti voluptas, suscipit officiis qui magnam quam, tempora eaque, repellendus consectetur error maiores.</p></div>
                        <a href="" class="action_button">Read</a>
                    </div>
                    <div class="blog_feild_item blog_feild_wide">
                        <div class="blog_feild_item_img"><img src="/images/women_in_tech.jpg" alt=""></div>
                        <div class="blog_feild_item_text"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sed eum aliquid iste veritatis repudiandae unde officia corrupti voluptas, suscipit officiis qui magnam quam, tempora eaque, repellendus consectetur error maiores.</p></div>
                        <a href="" class="action_button">Read</a>
                    </div>                    
                    <div class="blog_feild_item">
                        <div class="blog_feild_item_img"><img src="/images/tech_startup2.webp" alt=""></div>
                        <div class="blog_feild_item_text"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur sed eum aliquid iste veritatis repudiandae unde officia corrupti voluptas, suscipit officiis qui magnam quam, tempora eaque, repellendus consectetur error maiores.</p></div>
                        <a href="" class="action_button">Read</a>
                    </div>
                </section>
                <section id="about">
                    <div id="about_brand">SparkWorld</div>
                    <div id="about_text">
                        <header>Promotiong African Innovation</header>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos culpa praesentium ratione tempore itaque alias omnis laboriosam eius nihil ipsa, sunt similique ut doloribus deleniti excepturi. Veniam consequuntur beatae culpa.</p>
                    </div>
                    <div id="newsletter">
                        <p>Sign Up for Our Newsletter</p>
                        <input type="text" id="newsletter_signup" placeholder="Enter Your Email">
                    </div>
                </section>
            </main>
        </section>
    </div>
    {% include footer.html %}
</body>
</html>