<footer>
    <div id="footer_logo">SparkWorld</div>
    <div id="footer_body">
        <div id="footer_socials">
            <div id="footer_newsletter">
                <p>Sign up to our Newsletter</p>
                <input type="text" placeholder="Enter Your Email and be updated">
                <a href="" class="action_button">Sign Me Up!</a>
            </div>

            <div class="footer_social">
                <p>Engage with us:</p>
                <div class="footer_social_item"><i class="fa-brands fa-x-twitter"></i></div>
                <div class="footer_social_item"><i class="fa-brands fa-linkedin"></i></div>
                <div class="footer_social_item"><i class="fa-brands fa-square-facebook"></i></div>
                <div class="footer_social_item"></div>
            </div>
        </div>
        <div id="footer_links">
            <div class="footer_links_item">
                <header>Contact Us</header>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
            </div>
            <div class="footer_links_item">
                <header>Quick Links</header>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
            </div>
            <div class="footer_links_item">
                <header>Quick Links</header>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
            </div>
            <div class="footer_links_item">
                <header>Quick Links</header>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
            </div>
            <div class="footer_links_item">
                <header>Privacy Policy</header>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
                <a href="">afrispark</a>
            </div>

        </div>
    </div>
</footer>