
<nav id="nav_side">
    <ul>
        <li class="nav_side_item">
            <input id="nav_side_search" placeholder="Search...">
        </li>
        
        {% for item in site.data.nav %}
        {% if item.link != page.url %}
        <li class="nav_side_item">
            <a class="nav_side_item_top" href="{{item.link}}"><p>{{item.name}}</p> {{item.icon}}</a>
            {% if item.dropdown %}
            <ul class="nav_side_item_second">
                {% for elem in item.dropdown %}
                <li>
                    <a href="">{{elem.name}}</a>
                </li>
                {% endfor %}
            </ul>
            {%endif%}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>